<h1>Admin Menu</h1>

<p><%= link_to "create_movies", new_movie_path(:controller => 'movies') %></p>
<p><%= link_to "display total movies", movies_path(:controller => 'movies') %></p>
<p><%= link_to "login", acess_login_path %></p>
